:root {
  --background-color: #fff;
  --text-color: #000;
  --product-background-color: #f0f0f0; 
  --product-text-color: #000; 
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #fff;
  --product-background-color: #333; /* Koyu modda ürün arka plan rengi */
  --product-text-color: #fff; /* Koyu modda ürün yazı rengi */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.productItem {
  background-color: var(--product-background-color);
  color: var(--product-text-color);
  border: 0.1rem solid #ddd;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.productItem h3 {
  color: var(--product-text-color);
}

.productItem p {
  color: var(--product-text-color);
}

@media (max-width: 768px) {
  .productList {
    flex-direction: column;
  }

  .productItem {
    width: 100%;
  }
}
