.all {
  text-align: center;
}

.productForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.productForm > input {
  padding: 0.3rem 0.6rem;
  width: 30rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.buttons > button {
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #e7c53c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.5rem;
  font-size: medium;
  &:hover {
    background-color: #ea9813e8;
  }

  &:active {
    background-color: #ea9813e8;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #ea9813e8;
  }
}

@media (max-width: 768px) {
  .productList {
    flex-direction: column;
  }

  .productItem {
    width: 100%;
  }
}
